.h2{
    text-align: center; 
    color:#36395A;  
    margin: 0;
}
.line{
    border-bottom: 2px solid  #a58bc9; 
    width: 10rem;
    margin: auto; 
}
.cust{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    width: 25%;
}