.h2{
    text-align: center; 
    color:#36395A;  
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line{
    border-bottom: 2px solid  #a58bc9; 
    width: 10rem;
    margin: auto; 
}

.closeIcon{
    font-size: 60px;
    color:#975beb;
    left: 93%;
    top:-21px;
    position: fixed;
    cursor: pointer; 
    transition: 0.1s ease-in-out;
}

.closeIcon:hover{
    font-size: 65px;
}