.title{
    display: flex;
    justify-content: space-between;
}

.cust button{ 
    font-size: 22px; 
    color:#975beb;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    transition: 0.1s ease-in-out;
}
.cust section{ /* modified the card components*/
    padding: 0.5rem !important;
    border-radius: 5px;
}

.cust button:hover{
    font-size: 28px; 
    background-color: white;
}

.deleteBtn{
    display: flex;
    justify-content: center;
    
}
.deleteBtn div{
    margin-left: 10px;
}